# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
web.config
data-dev.sqlite
data-product.sqlite
deploy_key_rsa
/env
/migrations
/uploads
testmssql.py
params.txt
key_info.py
config.py
#MacOS
.Ds_Store
/log

