{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}合同提醒系统 - 批量导入{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>批量导入</h1>
</div>
<div>
  <form class_="form form-horizontal" method="POST" action="{{ url_for('main.upload') }}" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {{ form.attach.label }} {{ form.attach }}
      <input type="submit" value="上传">
  </form>
</div>
<br>
<div>
  导入模板下载: <a href="/download">合同信息录入模板.xls</a>
</div>
<br>
<div>
  说明：务必按照模板格式录入数据；
        导入过程可能耗时较长，请耐心等待；
        如遇到问题，请联系管理员。
</div>
{% endblock %}
